<div class="container">

        <nav class="alpha six columns">
            <ul>
                <li class=""><a href="{{site.siteurl}}/title-ix-coordinators">Title IX Coordinators</a></li>
                <li class=""><a href="{{site.siteurl}}/resources">Resources + Support</a></li>
                <li class=""><a href="{{site.siteurl}}/sexual-misconduct-policy">Sexual Misconduct Policy</a></li>
                <li class=""><a href="{{site.siteurl}}/information-and-procedures">Information + Procedures</a></li>
                <li class=""><a href="{{site.siteurl}}/#">Reporitng Options for Students</a></li>
                <li class=""><a href="{{site.siteurl}}/employee-reporting-options">Reporting Options for Employees</a></li>
                <li class=""><a href="{{site.siteurl}}/general-provisions">General Provisions</a></li>
                <li class=""><a href="{{site.siteurl}}/your-rights">Your Rights</a></li>
                <li class=""><a href="{{site.siteurl}}/#">FAQs</a></li>
            </ul>
        </nav>
        