<div class="container">

        <nav class="alpha six columns">
            <ul>
                <li class=""><a href="{{site.baseurl}}/title-ix-coordinators">Title IX Coordinators</a></li>
                <li class=""><a href="{{site.baseurl}}/resources">Resources + Support</a></li>
                <li class=""><a href="{{site.baseurl}}/sexual-misconduct-policy">Sexual Misconduct Policy</a></li>
                <li class=""><a href="{{site.baseurl}}/information-and-procedures">Information + Procedures</a></li>
                <li class=""><a href="{{site.baseurl}}/#">Reporitng Options for Students</a></li>
                <li class=""><a href="{{site.baseurl}}/employee-reporting-options">Reporting Options for Employees</a></li>
                <li class=""><a href="{{site.baseurl}}/general-provisions">General Provisions</a></li>
                <li class=""><a href="{{site.baseurl}}/your-rights">Your Rights</a></li>
                <li class=""><a href="{{site.baseurl}}/#">FAQs</a></li>
            </ul>
        </nav>
        